<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home_page.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Layout</title>
</head>
<body>

    <div class="sidebar">
        <h2><img src="{{ url_for('static', filename='icons/es_logo_white.png') }}" alt="es" class="es_logo_white"></h2>
        <a href="#"><img src="{{ url_for('static', filename='icons/house.svg') }}" alt=""></a>
        <a href="#"><img src="{{ url_for('static', filename='icons/user-pen.svg') }}" alt =""></a>
        <a href="#"><img src="{{ url_for('static', filename='icons/message-circle.svg') }}" alt =""></a>
        <a href="#"><img src="{{ url_for('static', filename='icons/users.svg') }}" alt =""></a>
        <a href="#"><img src="{{ url_for('static', filename='icons/settings.svg') }}" alt =""></a>
    </div>

    <div class="main-content">
        <div class="top">
            <div class="box">Daily Reminders</div>
            <div class="box">Who to talk to?</div>
        </div>
        <div class="bottom">
            <div id="voice-container">
                <div id="voice-text">What can I help with?</div>
                <div id="voice-icon" class="voice-icon">
                    <img src="{{ url_for('static', filename='icons/audio-lines.svg') }}" alt="Voice Assistant">
                </div>
                <div id="response-area">
                    <p id="recognized-text"></p>
                    <p id="assistant-response"></p>
                </div>
            </div>
        </div>
    </div>

    <script src="voice-assistant.js"></script>
</body>
</html>
